{% include 'header.html' %}
{% load static %}
      <!-- Main Content -->


      <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
      
        <style>
          .select2-selection__choice {
            padding: 5px 5px !important;
              height: 28px !important;
              line-height: 1.4;
        </style>
      
      </head>  

      <body>
        
     
      <div class="main-content">
        <section class="section">
      
          
        <div class="section-body">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12;">
                <div class="card">
                  <div class="card-header">
                    <h4>Add Details</h4>
                  </div>

                  <div class="card-body">
            
                    <div class="form-group">
                      <label>Project Name</label>
                                                                                      
                                            
                      <select id="project_name" style="display: inline-block;"  class="form-control">
                                                                              
                      {% for i in obj_del %}
                          <option value = "{{i.project_name}}" >{{i.project_name}}</option>
                      {% endfor %}
                      </select>
                    </div>

                    <div class="form-group" style="display: inline-block; margin-left:30px;">
                        <a href="/add_project/" class="btn btn-icon btn-primary pull-right" ><i class="fas fa-plus"></i></a>
                    </div>


                    <div class="form-group">
                        <label>Project Name</label>
                        <input type="text"  id="project_name_hidden" placeholder="project name" class="form-control">
                      </div>


                    <div class="form-group">
                        <label>Client Name</label>
                        <input type="text"  id="client_name" placeholder="client name" class="form-control">
                      </div>


                    <div class="form-group">
                      <label>AMC</label>
                                                                                      
                      <select  type="text" id="amc" style="display: inline-block;"  class="form-control" name="amc" placeholder="amc" >
                                  
                        <option value="Mobile App">Mobile App</option>
                        <option value="Online Server">Online Server</option>
                
                      </select>
                    </div>

                    
                    <div class="form-group">
                        <label>AMC</label>
                        <input type="text"  id="amc_name_hidden" placeholder="AMC name" class="form-control">
                      </div>

                    <div class="form-group" style="display: inline-block; margin-left:30px;">
                        <a href="/add_amc/" class="btn btn-icon btn-primary pull-right" ><i class="fas fa-plus"></i></a>
                    </div>


                    <div class="form-group">
                        <label>AMC Type</label>
                                                                                        
                        <select  type="text" id="amc_type"  class="form-control" name="amc_type" placeholder="amc type" >
                                    
                          <option value="Monthly">Monthly</option>
                          <option value="Quarterly">Quarterly</option>
                          <option value="Yearly">Yearly</option>
                  
                        </select>
                      </div>


                    <div class="form-group">
                      <label>Remark</label>
                      <textarea id="remark" class="form-control"></textarea>
                    </div>
                  </div>
             
                 
                  <div class="card-footer text-right">
                    <button type="button" type="button" class="btn btn-success" value="save" onclick="add_amc()" >Save </button>
                    
                  </div>
                </div> 


                 {% comment %} model {% endcomment %}

                                <div class="modal fade" id="amcmodal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="formModal">Edit Data</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        
                              
                                        
                                        <div class="modal-body">


                                            <div class="form-group">
                                                <label>Start Date<span style = "color:red">*</span>:</label>
                                                <div class="input-group">
                                                  <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                      <i class="fas fa-user"></i>
                                                    </div>
  
  
                                                      <div class="form-group" style="display: inline-block; margin-left:30px;">
                                                      <label>Start Date</label>
                                                      <input type="date"  id="start_date" class="form-control">
                                                      </div>
                                                 
                                              </div>
                                     
                                            <div class="form-group">
                                              <label>End Date<span style = "color:red">*</span>:</label>
                                              <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text">
                                                    <i class="fas fa-user"></i>
                                                  </div>


                                                    <div class="form-group" style="display: inline-block; margin-left:30px;">
                                                    <label>End Date</label>
                                                    <input type="date"  id="end_date" class="form-control">
                                                    </div>
                                               
                                            </div>


                                             
                                     
                                            <div class="form-group">
                                              <label>Amount<span style = "color:red">*</span>:</label>
                                              <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <div class="input-group-text">
                                                    <i class="fas fa-user"></i>
                                                  </div>


                                                    <div class="form-group" style="display: inline-block; margin-left:30px;">
                                                    <label>Amount</label>
                                                    <input type="text"  id="start_date" class="form-control">
                                                    </div>
                                               
                                            </div>

                                            <div class="form-group">
                                                <label>Paid<span style = "color:red">*</span>:</label>
                                                <div class="input-group">
                                                  <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                      <i class="fas fa-user"></i>
                                                    </div>
  
  
                                                      <div class="form-group" style="display: inline-block; margin-left:30px;">
                                                      <label>Paid</label>
                                                      <input type="text"  id="paid" class="form-control">
                                                      </div>
                                                 
                                              </div>

                                              <div class="form-group">
                                                <label>Balance<span style = "color:red">*</span>:</label>
                                                <div class="input-group">
                                                  <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                      <i class="fas fa-user"></i>
                                                    </div>
  
  
                                                      <div class="form-group" style="display: inline-block; margin-left:30px;">
                                                      <label>Balance</label>
                                                      <input type="text"  id="paid" class="form-control">
                                                      </div>
                                                 
                                              </div>


                                              <div class="form-group">
                                                <label>Last Paid Date<span style = "color:red">*</span>:</label>
                                                <div class="input-group">
                                                  <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                      <i class="fas fa-user"></i>
                                                    </div>
  
  
                                                      <div class="form-group" style="display: inline-block; margin-left:30px;">
                                                      <label>Last Paid Date</label>
                                                      <input type="date"  id="last_paid" class="form-control">
                                                      </div>
                                                 
                                              </div>
                          
                                             
                          
                                            <center>
                                             <a class="btn btn-outline-primary" onclick = "add_model_amc()" >Save</a>
                                            </center>
                                          
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              
               
          </div>
        </div>
      </div>
    </body>
<script>



        function add_amc(){
          var project_name=$('#project_name').val()

          var client_name=$('#client_name').val()

          var amc=$('#amc').val()

          var amc_type=$('#amc_type').val()
      
          var remark=$('#remark').val()
          
          
          if(project_name == ""){
            
            swal("Please Enter Project Name", {
              icon: "info",
              button: "Ok",
              closeOnClickOutside: false,     
              }).then(function() {
                
            });
          
          }

        
          else if(client_name == ""){
          
          swal("Please Enter Client Name.", {
              icon: "info",
              button: "Ok",
              closeOnClickOutside: false,     
              }).then(function() {
                
            });
          
          }
        
        
          else if(amc == ""){
          
            swal("Please Enter AMC.", {
                icon: "info",
                button: "Ok",
                closeOnClickOutside: false,     
                }).then(function() {
                  
              });
            
            }
          
          
            else if(amc_type == ""){
            
              swal("Please Enter AMC Type.", {
                  icon: "info",
                  button: "Ok",
                  closeOnClickOutside: false,     
                  }).then(function() {
                    
                });
              
              }
          
          else{

         
            var form = $("#form_data")[0];
            var data_item = new FormData(form);
            data_item.append("file_data",document.getElementById("file_data").files[0])
            data_item.append("project_name",project_name)
            data_item.append("delivery_id_list",JSON.stringify(delivery_id_list))
            data_item.append("technology_id_list",JSON.stringify(technology_id_list))
            data_item.append("client_name",client_name)
            data_item.append("contact_number",contact_number)
            data_item.append("contact_email",contact_email)
            data_item.append("order_date",order_date)
            data_item.append("start_date",start_date)
            data_item.append("duration",duration)
            data_item.append("expected_end_date",expected_end_date)
            data_item.append("actual_end_date",actual_end_date)
            data_item.append("status",status)
            data_item.append("remark",remark)
           
          
                $.ajax({
                    method : "POST",
                    url : "/new_entry/",
                    enctype : "mutipart/form_data",
                    processData : false,
                    contentType : false,
                    cache : false,
                    data :data_item,
                    
                    success : function(response){
                      if (response == "success"){
                        swal("project has been saved!", {
                        icon: "success",
                        button: "Ok",
                        closeOnClickOutside: false,
                        }).then(function() {
                          location.href = '/project/'
                        });
                      }
                    }
         
            });
         }
        }

      </script>
     {% include 'footer.html' %}